[submodule "ports/nvim"]
	path = ports/nvim
	url = https://github.com/catppuccin/nvim.git
[submodule "ports/mdBook"]
	path = ports/mdBook
	url = https://github.com/catppuccin/mdBook.git
[submodule "ports/aur-packages"]
	path = ports/aur-packages
	url = https://github.com/catppuccin/aur-packages.git